#search{
    margin-top: 30px;
    margin-right: 50px;
}

.search-area{
    float: right;
    display: inline;
}
.search-text{
    float: right;
    margin-left: 15px;
}
.search-button{
    float: right;
    margin-left: 15px;
}
#search>span{
    font-size: 16px;
    float: right;
    line-height: 30px;
}
#table{
    margin-top: 50px;
}

.ivu-modal-body>p{
    font-size: 18px;
    line-height: 30px;
}
.ivu-modal-body>p>img{
    width: 40%;
    vertical-align: top;
    margin-bottom: 20px;
}