*{
    padding: 0;
    margin: 0;
}

/*整体布局*/
.layout{
    background: white;
    position: relative;
    overflow: hidden;
}
/*侧边栏样式*/
#sideMenu{
    overflow-y: auto;
    background-color: #495060;
}

/*logo样式*/
.layout-logo{
    width: 120px;
    height: 30px;
    background: #5b6270;
    border-radius: 3px;
    float: left;
    position: relative;
    top: 15px;
    left: 20px;
    margin-right: 150px;
    background-image: url("../img/timg.jpg");
    background-size: cover;
    background-position-y: -5px;
}
.layout-header{
    height: 60px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.layout-copy{
    text-align: center;
    padding: 10px 0 20px;
    color: #9ea7b4;
}
.layout-ceiling{
    background: #464c5b;
    padding: 10px 0;
    overflow: hidden;
}
.layout-ceiling-main{
    float: right;
    margin-right: 15px;
}
.layout-ceiling-main a{
    color: #9ba7b5;
}

.layout-copy{
    background-color: white;
    color: #464c5b;
    margin-top: -10px;
    padding-bottom: 0px;
}
/*loading动画*/
@keyframes ani-demo-spin {
    from { transform: rotate(0deg);}
    50%  { transform: rotate(180deg);}
    to   { transform: rotate(360deg);}
}
.demo-spin-icon-load{
    animation: ani-demo-spin 1s linear infinite;
}

/*滚动条 start*/
::-webkit-scrollbar {
    width: 10px;
    height: 4px;
    background-color: #F5F5F5;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background: #fff ;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color:rgba(200, 200, 200, 0.7);
}
::-webkit-scrollbar-thumb:hover {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color:rgba(200, 200, 200, 1);
}

