<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加管理员</title>
    <link rel="stylesheet" href="css/iview.css">
    <style>
        form{
            margin-top: 30px;
        }
        .ivu-form-item p{
            font-weight: bolder;
            font-size: 15px;
        }
    </style>
</head>
<body>
<i-form :label-width="180" id="add_user_form" label-position="right">
    <form-item label="员工编号">
        <i-input v-model="formItem.username.value" placeholder="请输入员工编号"></i-input>
    </form-item>
    <form-item label="姓名">
        <i-input v-model="formItem.name.value" placeholder="请输入员工姓名"></i-input>
    </form-item>
    <form-item label="密码">
        <i-input v-model="formItem.password.value" placeholder="请输入密码" type="password"></i-input>
    </form-item>
    <form-item label="确认密码">
        <i-input v-model="formItem.confirm_password.value" placeholder="请确认密码" type="password"></i-input>
    </form-item>
    <form-item label="性别" prop="sex">
        <radio-group v-model="formItem.sex.value">
            <Radio label="男">男</Radio>
            <Radio label="女">女</Radio>
        </radio-group>
    </form-item>
    <form-item label="所在片区">
        <Cascader :data="area_data" v-model="formItem.area.value" width="250px" change-on-select></Cascader>
    </form-item>
    <form-item label="联系电话（选填）">
        <i-input v-model="formItem.phone.value" placeholder="请输入联系电话"></i-input>
    </form-item>
    <form-item label="QQ号码（选填）">
        <i-input v-model="formItem.qq.value" placeholder="请输入QQ号码"></i-input>
    </form-item>
    <form-item label="邮箱（选填）">
        <i-input v-model="formItem.email.value" placeholder="请输入邮箱"></i-input>
    </form-item>
    <form-item label="家庭住址（选填）">
        <i-input v-model="formItem.address.value" placeholder="请输入家庭住址"></i-input>
    </form-item>
    <form-item label="身份证号">
        <i-input v-model="formItem.idcard.value" placeholder="请输入身份证号"></i-input>
    </form-item>
    <form-item label="权限设置">
        <p>材料管理</p>
        <Checkbox v-model="formItem.auth.stuff_in" true-value="1" false-value="0">材料入库</Checkbox>
        <Checkbox v-model="formItem.auth.stuff_out" true-value="1" false-value="0">材料出库</Checkbox>
        <Checkbox v-model="formItem.auth.stuff_back" true-value="1" false-value="0">材料退库</Checkbox>
        <Checkbox v-model="formItem.auth.stuff_leave" true-value="1" false-value="0">材料调库</Checkbox>
        <Checkbox v-model="formItem.auth.stuff_use" true-value="1" false-value="0">材料消耗</Checkbox>
        <Checkbox v-model="formItem.auth.stuff_count" true-value="1" false-value="0">材料统计</Checkbox>
        <Checkbox v-model="formItem.auth.stuff_inventory" true-value="1" false-value="0">材料盘存</Checkbox>
        <p>工具管理</p>
        <Checkbox v-model="formItem.auth.tool_in" true-value="1" false-value="0">工具入库</Checkbox>
        <Checkbox v-model="formItem.auth.tool_out" true-value="1" false-value="0">工具出库</Checkbox>
        <Checkbox v-model="formItem.auth.tool_back" true-value="1" false-value="0">工具退库</Checkbox>
        <Checkbox v-model="formItem.auth.tool_leave" true-value="1" false-value="0">工具调库</Checkbox>
        <Checkbox v-model="formItem.auth.tool_count" true-value="1" false-value="0">工具统计</Checkbox>
        <Checkbox v-model="formItem.auth.tool_infoconsummate" true-value="1" false-value="0">工具信息完善</Checkbox>
        <p>安全品管理</p>
        <Checkbox v-model="formItem.auth.safty_in" true-value="1" false-value="0">安全品入库</Checkbox>
        <Checkbox v-model="formItem.auth.safty_out" true-value="1" false-value="0">安全品出库</Checkbox>
        <Checkbox v-model="formItem.auth.safty_back" true-value="1" false-value="0">安全品退库</Checkbox>
        <Checkbox v-model="formItem.auth.safty_count" true-value="1" false-value="0">安全品统计</Checkbox>
        <Checkbox v-model="formItem.auth.safty_infoconsummate" true-value="1" false-value="0">安全品信息完善</Checkbox>
        <p>人员管理</p>
        <Checkbox v-model="formItem.auth.staff_manage" true-value="1" false-value="0">装维人员管理</Checkbox>
        <Checkbox v-model="formItem.auth.user_manage" true-value="1" false-value="0">管理员管理</Checkbox>



    </form-item>
    <form-item>
        <i-button type="primary" @click="upload(check(formItem),formItem)">提交</i-button>
    </form-item>

</i-form>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/iview.js"></script>
<script src="js/common.js"></script>
<script src="js/check-input.js"></script>
<script src="js/url.js"></script>
<script>
    //待实现的功能：权限检查，表单检查
    var add_user_form = new Vue({
        el:'#add_user_form',
        data:{
            area_data:[],
            formItem: {
                username:{
                    value:'',
                    check:['empty'],
                    alertText: {
                        empty:'员工编号不能为空'
                    }
                },
                name:{
                    value:'',
                    check:['empty'],
                    alertText: {
                        empty:'用户名不能为空'
                    }
                },
                password:{
                    value:'',
                    check:['empty'],
                    alertText: {
                        empty:'密码不能为空'
                    }
                },
                confirm_password:{
                    value:'',
                    check:['empty'],
                    alertText: {
                        empty:'确认密码不能为空'
                    }
                },
                area:{
                    value:[],
                    check:['empty'],
                    alertText: {
                        empty:'所在片区不能为空'
                    }
                },
                sex:{
                    value:'',
                    check:['empty'],
                    alertText: {
                        empty:'性别不能为空'
                    }
                },
                phone:{
                    value:'',
                    check:[]
                },
                qq:{
                    value:'',
                    check:[]
                },
                email:{
                    value:'',
                    check:[]
                },
                address:{
                    value:'',
                    check:[]
                },
                idcard:{
                    value:'',
                    check:['empty'],
                    alertText: {
                        empty:'身份证号不能为空'
                    }
                },
                auth:{
                    stuff_in:'0',
                    stuff_out:'0',
                    stuff_back:'0',
                    stuff_leave:'0',
                    stuff_use:'0',
                    stuff_count:'0',
                    stuff_inventory:'0',
                    tool_in:'0',
                    tool_out:'0',
                    tool_back:'0',
                    tool_leave:'0',
                    tool_count:'0',
                    tool_infoconsummate:'0',
                    safty_in:'0',
                    safty_out:'0',
                    safty_back:'0',
                    safty_count:'0',
                    safty_infoconsummate:'0',
                    staff_manage:'0',
                    user_manage:'0'
                }
            }
        },
        methods:{
            check:checkInput,
            upload:function (tof,data) {
                if(tof === true){
                    var send_data = [];
                    send_data[0] = extract_value(data);
                    send_data[1] = add_user_form.formItem.auth;
                    send_data[0].area = send_data[0].area.join("^");
                    //console.log(send_with_cookie_data('json',send_data));
                    if(send_data.password !== send_data.confirm_password){
                        add_user_form.$Message.error("两次输入密码不相符");
                    }
                    else {
                        $.ajax({
                            url:server+url.add_user,
                            type : 'POST',
                            data : send_with_cookie_data('json',send_data),
                            processData: false,
                            crossDomain: true,
                            success:function (result) {
                                if(result.state === 'error'||result.state === 'warning'){
                                    add_user_form.$Message.error(result.message);
                                }else if(result.state === 'success'){
                                    add_user_form.$Message.success(result.message);

                                }
                                console.log(result);

                            },
                            error:function () {
                                alert('数据请求失败，请检查你的网络连接');
                            }
                        });
                    }

                }
            }
        },
        created:get_area
    })
</script>
</body>
</html>