<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加管理员</title>
    <link rel="stylesheet" href="css/iview.css">
    <link rel="stylesheet" href="css/loading.css">
    <script src="js/vue.js"></script>
    <script src="js/iview.js"></script>

    <style>
        form{
            margin-top: 30px;
        }
        .ivu-form-item p{
            font-weight: bolder;
            font-size: 15px;
        }
    </style>
</head>
<body>
<Spin fix id="loading" v-if="show">
    <Icon type="load-c" size=60 class="demo-spin-icon-load"></Icon>
    <br>
    <div class="loading-text">加载中...</div>
</Spin>
<script>
    var loading = new Vue({
        el:"#loading",
        data:{
            show:true
        },
        created:function () {
            setTimeout("loading.show=false",500);
        }
    });
</script>
<header>
    <h1>修改密码</h1>
</header>
<i-form :label-width="180" id="change_password_form" label-position="right">
    <form-item label="旧密码">
        <i-input v-model="formItem.old_password.value" placeholder="请输入旧密码" type="password"></i-input>
    </form-item>
    <form-item label="新密码">
        <i-input v-model="formItem.new_password.value" placeholder="请输入新密码" type="password"></i-input>
    </form-item>
    <form-item label="确认密码">
        <i-input v-model="formItem.confirm_password.value" placeholder="请确认新密码" type="password"></i-input>
    </form-item>

    <form-item>
        <i-button type="primary" @click="upload(check(formItem),formItem)">提交</i-button>
    </form-item>

</i-form>
<script src="js/jquery-3.2.1.min.js"></script>

<script src="js/common.js"></script>
<script src="js/check-input.js"></script>
<script src="js/url.js"></script>
<script>
    //待实现的功能：权限检查，表单检查
    var change_password_form = new Vue({
        el:'#change_password_form',
        data:{
            formItem: {
                old_password:{
                    value:'',
                    check:['empty'],
                    alertText: {
                        empty:'旧密码不能为空'
                    }
                },
                new_password:{
                    value:'',
                    check:['empty'],
                    alertText: {
                        empty:'新密码不能为空'
                    }
                },
                confirm_password:{
                    value:'',
                    check:['empty'],
                    alertText: {
                        empty:'确认密码不能为空'
                    }
                }
            }
        },
        methods:{
            check:checkInput,
            upload:function (tof,data) {
                if(tof === true){
                    var send_data = [];
                    send_data= extract_value(data);
                    if(send_data.new_password !== send_data.confirm_password){
                        change_password_form.$Message.error("两次输入密码不相符");
                    }
                    else {
                        console.log("cookie="+get_cookie().username+"&new_password="+send_data.new_password);
                        $.ajax({
                            url:server+url.change_password,
                            type : 'POST',
                            data : "cookie="+get_cookie().username+"&new_password="+send_data.new_password+"&old_password="+send_data.old_password,
                            processData: false,
                            crossDomain: true,dataType:'json',
                            success:function (result) {
                                if(result.state === 'error'){
                                    change_password_form.$Message.error(result.message);
                                    setTimeout("jump('login.html')",1500);
                                }else if(result.state === 'warning'){
                                    change_password_form.$Message.error(result.message);
                                }else if(result.state === 'success'){
                                    change_password_form.$Modal.success({
                                        content:result.message
                                    });

                                }
                                console.log(result);

                            },
                            error:function () {
                                change_password_form.$Message.error('数据请求失败，请检查你的网络连接');
                            }
                        });
                    }

                }
            },
        }

    })
</script>
</body>
</html>