<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看管理员</title>
    <link rel="stylesheet" href="css/iview.css">
    <link rel="stylesheet" href="css/check_stuff.css">
    <style>
        .ivu-checkbox-disabled.ivu-checkbox-checked .ivu-checkbox-inner{
            background-color: #2b85e4;
        }
    </style>
</head>
<body>
<div id="search">
    <div class="search-text">
        <i-button type="primary" class="search-button" @click="get_search_result">查询</i-button>
        <span>模糊查询：</span>
        <i-input v-model="search_text" placeholder="请输入要查询的字符" style="width: 200px"></i-input>
    </div>
    <div class="search-area">
        <Cascader :data="area_data" v-model="search_area" width="250px" change-on-select></Cascader>
    </div>
    <span>按地区查询：</span>
    <span>管理员查询：</span>
</div>
<br>
<div id="table">
    <i-table border :columns="header" :data="showData" @on-sort-change="change_sort_data"></i-table>
</div>
<br>
<Page :total="total" id="page" show-total show-elevator @on-change="get_data"></Page>
<Modal id="showModel"
       v-model="show"
       title="个人信息">
    <p>员工编号：{{data.username}}</p>
    <p>姓名：{{data.name}}</p>
    <p>性别：{{data.sex}}</p>
    <p>所属地区：{{data.area}}</p>
    <p>联系电话：{{data.phone}}</p>
    <p>qq号码：{{data.qq}}</p>
    <p>邮箱：{{data.email}}</p>
    <p>家庭住址：{{data.address}}</p>
    <p>身份证号：{{data.idcard}}</p>
    <p>权限信息：</p>
    <p>材料管理</p>
    <p>
        <Checkbox v-model="filter(data.auth.stuff_in)" disabled>材料入库</Checkbox>
        <Checkbox v-model="filter(data.auth.stuff_out)" disabled>材料出库</Checkbox>
        <Checkbox v-model="filter(data.auth.stuff_back)" disabled>材料退库</Checkbox>
        <Checkbox v-model="filter(data.auth.stuff_leave)" disabled>材料调库</Checkbox>
        <Checkbox v-model="filter(data.auth.stuff_use)" disabled>材料消耗</Checkbox>
        <Checkbox v-model="filter(data.auth.stuff_count)" disabled>材料统计</Checkbox>
        <Checkbox v-model="filter(data.auth.stuff_inventory)" disabled>材料盘存</Checkbox>
    </p>
    <p>工具管理</p>
    <p>
        <Checkbox v-model="filter(data.auth.tool_in)" disabled>工具入库</Checkbox>
        <Checkbox v-model="filter(data.auth.tool_out)" disabled>工具出库</Checkbox>
        <Checkbox v-model="filter(data.auth.tool_back)" disabled>工具退库</Checkbox>
        <Checkbox v-model="filter(data.auth.tool_leave)" disabled>工具调库</Checkbox>
        <Checkbox v-model="filter(data.auth.tool_count)" disabled>工具统计</Checkbox>
        <Checkbox v-model="filter(data.auth.tool_infoconsummate)" disabled>工具信息完善</Checkbox>
    </p>
    <p>安全品管理</p>
    <p>
        <Checkbox v-model="filter(data.auth.safty_in)" disabled>安全品入库</Checkbox>
        <Checkbox v-model="filter(data.auth.safty_out)" disabled>安全品出库</Checkbox>
        <Checkbox v-model="filter(data.auth.safty_back)" disabled>安全品退库</Checkbox>
        <Checkbox v-model="filter(data.auth.safty_count)" disabled>安全品统计</Checkbox>
        <Checkbox v-model="filter(data.auth.safty_infoconsummate)" disabled>安全品信息完善</Checkbox>
    </p>
    <p>人员管理</p>
    <p>
        <Checkbox v-model="filter(data.auth.staff_manage)" disabled>装维人员管理</Checkbox>
        <Checkbox v-model="filter(data.auth.user_manage)" disabled>管理员管理</Checkbox>
    </p>

</Modal>


<script src="js/jquery-3.2.1.min.js"></script>
<script>$.noConflict();</script>
<script src="js/vue.js"></script>
<script src="js/iview.js"></script>

<script src="js/common.js"></script>
<script src="js/check-input.js"></script>
<script src="js/url.js"></script>
<script>
    // 获取各种条件下的管理员数据（排序，查询，页数）
    function get_admin_page_data(page_count) {
        // 设置数据
        var page_data = {
            pageinfo: {
                curpage: 1,
                pageinate: 10
            }
        };
        if (page_count) {
            page_data.pageinfo.curpage = page_count;
        }


        // 首先判断有无查询条件
        if (search.search_area !== []) {
            page_data.condition = {
                like: ["area", "%" + search.search_area.join('^') + "%"]
            }
        }
        if (search.search_text !== '') {
            page_data.condition = {
                like: ["area|name|username", "%" + search.search_text + "%"]
            }

        }

        // 判断有无排序
        if (table.order !== '') {
            page_data.order = table.order;
        }

        console.log(JSON.stringify(page_data));

        // 发送数据
        jQuery.ajax({
            url: server + url.check_user,
            data: send_with_cookie_data('query', page_data),
            type: 'POST',
            xhrFields: {
                withCredentials: true
            },
            dataType: "json",
            crossDomain: true,
            success: function (result) {
                if (result.state === 'error' || result.state === 'warning') {
                    console.log(result);
                    table.$Message.error(result.message);
                }
                else {
                    console.log(result);
                    page.total = result[0].datacount;
                    result.splice(0, 1);
                    for(var i=0;i<result.length;i++){
                        result[i].area = result[i].area.split('^').join(' ');
                    }
                    table.showData = result;
                }

            },
            error: function () {
                table.$Message.warning('连接服务器失败，请检查你的网络连接');
            }
        });
    }

    var showModel = new Vue({
        el: '#showModel',
        data: {
            show: false,
            data: {}
        },
        methods:{
            filter:function (string) {
                if(string === 1){
                    return true;
                }
                if(string === 0){
                    return false;
                }
            }
        }

    });

    var search = new Vue({
        el: '#search',
        data: {
            search_area: [],
            area_data:[],
            search_text: ''
        },
        methods: {
            // 获取查询的结果
            get_search_result: function () {
                get_admin_page_data();
            }

        },
        created:get_area
    });
    var table = new Vue({
        el: "#table",
        data: {
            order: "",
            header: [
                {
                    title: '员工编号',
                    key: 'username',
                    sortable: 'custom'
                },
                {
                    title: '员工姓名',
                    key: 'name'
                },

                {
                    title: '性别',
                    key: 'sex',
                    sortable: 'custom'
                },
                {
                    title: 'QQ',
                    key: 'qq'
                },
                {
                    title: '所属部门',
                    key: 'area',
                    sortable: 'custom'
                },
                {
                    title: '操作',
                    key: 'action',
                    width: 180,
                    align: 'center',
                    render: function (h, params) {
                        return h('div', [
                            h('Button', {
                                props: {
                                    type: 'primary',
                                    size: 'small'
                                },
                                style: {
                                    marginRight: '5px'
                                },
                                on: {
                                    click: function () {
                                        showModel.show = true;
                                        showModel.data = table.showData[params.index];
                                    }
                                }
                            }, '查看'),
                            h('Button', {
                                props: {
                                    type: 'warning',
                                    size: 'small'
                                },
                                style: {
                                    marginRight: '5px'
                                },
                                on: {
                                    click: function () {
                                        window.location.href = "modify_admin.html?" + table.showData[params.index].id;
                                    }
                                }
                            }, '修改'),
                            h('Button', {
                                props: {
                                    type: 'error',
                                    size: 'small'
                                },
                                on: {
                                    click: function () {
                                        table.$Modal.confirm({
                                            title: '删除确认',
                                            content: '确认删除这条信息吗？',
                                            okText: '确认',
                                            cancelText: '取消删除',
                                            onOk: function () {
                                                jQuery.ajax({
                                                    url: server + url.delete_user,
                                                    data: send_with_cookie_data('id', table.showData[params.index].id),
                                                    type: 'POST',
                                                    success: function (result) {
                                                        if (result.state === 'success') {
                                                            table.$Message.success('删除成功');
                                                            table.showData.splice(params.index, 1);
                                                        } else {
                                                            table.$Message.warning('删除失败');
                                                        }
                                                    },
                                                    error: function () {
                                                        table.$Message.warning('连接服务器失败，请检查你的网络连接');
                                                    }
                                                });
                                            },
                                            onCancel: function () {
                                                table.$Message.info("取消删除");
                                            }
                                        })


                                    }
                                }
                            }, '删除')
                        ]);
                    }
                }

            ],
            showData: [

            ]
        },
        methods: {
            change_sort_data: function (column) {
                table.order = column.key + " " + column.order;
                get_admin_page_data();
            }
        }

    });
    var page = new Vue({
        el: '#page',
        data: {
            total: 30
        },
        methods: {
            get_data: function (page) {
                get_admin_page_data(page);
            }

        }

    })

    get_admin_page_data();


</script>
</body>
</html>