<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看发放记录</title>
    <link rel="stylesheet" href="css/iview.css">
    <link rel="stylesheet" href="css/check_stuff.css">
    <link rel="stylesheet" href="css/loading.css">
    <script src="js/vue.js"></script>
    <script src="js/iview.js"></script>
</head>
<body>
<Spin fix id="loading" v-if="show">
    <Icon type="load-c" size=60 class="demo-spin-icon-load"></Icon>
    <br>
    <div class="loading-text">加载中...</div>
</Spin>
<script>
    var loading = new Vue({
        el:"#loading",
        data:{
            show:true
        },
        created:function () {
            setTimeout("loading.show=false",500);
        }
    });
</script><header>
    <h1>查看发放记录</h1>
</header>
<div id="search">
    <div class="search-text">
        <i-button type="primary" class="search-button" @click="get_search_result">查询</i-button>
        <span>按发放时间段查询：</span>
        <date-picker type="date" placeholder="开始日期" style="width: 150px" v-model="search_start_time" clearable></date-picker>
        <date-picker type="date" placeholder="结束日期" style="width: 150px" v-model="search_end_time" clearable></date-picker>

        <span>模糊查询：</span>
        <i-input v-model="search_text" placeholder="请输入要查询的字符" style="width: 100px"></i-input>

    </div>
    <div class="search-area">
        <i-select v-model="search_storehouse" style="width:100px">
            <i-option v-for="item in storehouse_data" :value="item.value" :key="item.value">{{ item.label }}</i-option>
        </i-select>
    </div>

    <span>按仓库查询：</span>



</div>
<br>
<div id="table">
    <i-table border :columns="header" :data="showData" @on-sort-change="change_sort_data"></i-table>
</div>
<br>
<Page :total="total" id="page" show-total show-elevator @on-change="get_data"></Page>

<Modal id="showModel"
       v-model="show"
       title="详细信息">
    <p>发放仓库：{{data.storehouse}}</p>
    <p>申请日期：{{data.apply_date}}</p>
    <p>材料大类：{{data.category_name}}</p>
    <p>材料名称：{{data.stuff_name}}</p>
    <p>生产厂家：{{data.manufacturer}}</p>
    <p>发放数量：{{data.out_quantity}}</p>
    <p>型号：{{data.manufacturer}}</p>
    <p>单位：{{data.unit}}</p>
    <p>上次剩余材料数量：{{data.odd_quantity}}</p>
    <p>申请人：{{data.staff}}</p>
    <p>审批人：{{data.operator1}}</p>
    <p>发放人：{{data.operator2}}</p>
    <p>发放日期：{{data.out_date}}</p>
    <p>备注：{{data.remark}}</p>
</Modal>


<script src="js/jquery-3.2.1.min.js"></script>
<script>$.noConflict();</script>


<script src="js/common.js"></script>
<script src="js/check-input.js"></script>
<script src="js/url.js"></script>
<script>
    // 获取各种条件下的管理员数据（排序，查询，页数）
    function get_stuff_page_data(page_count) {
        // 设置数据
        var page_data = {
            pageinfo: {
                curpage: 1,
                pageinate: 10
            },
            condition:{}
        };
        if (page_count) {
            page_data.pageinfo.curpage = page_count;
        }


        // 首先判断有无查询条件
        // 以仓库为条件查询
        if(search.search_storehouse !== ''){
            page_data.condition.where = ["a.storehouse",search.search_storehouse];
        }
        // 模糊查询
        if(search.search_text !==''){
            page_data.condition.like = ["manufacturer|a.storehouse|category_name|stuff_name|staff|operator1|operator2","%"+ search.search_text + "%"];

        }
        // 以时间间隔查询
        if(search.search_start_time !=='' && search.search_end_time !==''){
            page_data.condition.between = ["out_date",[formatDate(search.search_start_time),formatDate(search.search_end_time)]];
        }
        // 判断有无排序
        if (table.order !== '') {
            page_data.order = table.order;
        }

        console.log(send_with_cookie_data('query', page_data));

        // 发送数据
        jQuery.ajax({
            url: server + url.stuff_out_record,
            data: send_with_cookie_data('query', page_data),
            type: 'POST',
            xhrFields: {
                withCredentials: true
            },
            dataType: "json",
            crossDomain: true,
            success: function (result) {
                if(result.state === 'error'){
                    table.$Message.error(result.message);
                    setTimeout("jump('login.html')",1500);
                }else if(result.state === 'warning'){
                    table.$Message.error(result.message);
                }
                else {
                    page.total = result[0].datacount;
                    result.splice(0,1);
                    table.showData = result;
                    console.log(result);

                }

            },
            error: function () {
                table.$Message.warning('连接服务器失败，请检查你的网络连接');
            }
        });
    }

    var showModel = new Vue({
        el: '#showModel',
        data: {
            show: false,
            data: {}
        },
        methods:{

        }

    });
    var search = new Vue({
        el: '#search',
        data: {
            search_storehouse: '',
            search_text: '',
            search_start_time:'',
            search_end_time:'',
            storehouse_data:[]
        },
        methods: {
            // 获取查询的结果
            get_search_result: function () {
                get_stuff_page_data();
            }

        },
        created:get_user_storehouse
    });
    var table = new Vue({
        el: "#table",
        data: {
            order: "",
            header: [
                {
                    title: '厂家',
                    key: 'manufacturer',
                    sortable: 'custom'
                },
                {
                    title: '仓库',
                    key: 'storehouse',
                    sortable: 'custom'

                },

                {
                    title: '材料大类',
                    key: 'category_name',
                    sortable: 'custom'
                },
                {
                    title: '材料名称',
                    key: 'stuff_name',
                    sortable: 'custom'
                }
                ,
                {
                    title: '数量',
                    key: 'out_quantity',
                    sortable: 'custom'

                },
                {
                    title: '申请人',
                    key: 'staff',
                    sortable: 'custom'
                },
                {
                    title: '申请日期',
                    key: 'apply_date',
                    sortable: 'custom'
                },
                {
                    title: '发放日期',
                    key: 'out_date',
                    sortable: 'custom'
                },
                {
                    title: '操作',
                    key: 'action',
                    width: 80,
                    align: 'center',
                    render: function (h, params) {
                        return h('div', [
                            h('Button', {
                                props: {
                                    type: 'primary',
                                    size: 'small'
                                },
                                style: {
                                    marginRight: '5px'
                                },
                                on: {
                                    click: function () {
                                        showModel.show = true;
                                        showModel.data = table.showData[params.index];
                                    }
                                }
                            }, '查看')
                        ]);
                    }
                }

            ],
            showData: [

            ]
        },
        methods: {
            change_sort_data: function (column) {
                if(column.key === 'category_name' || column.key === 'stuff_name'){
                    table.order = 'b.'+ column.key + " " + column.order;
                }else {
                    table.order = 'a.'+ column.key + " " + column.order;
                }
                console.log(table.order);
                get_stuff_page_data();
            }
        }

    });
    var page = new Vue({
        el: '#page',
        data: {
            total: 30
        },
        methods: {
            get_data: function (page) {
                get_stuff_page_data(page);
            }

        }

    });

    get_stuff_page_data();


</script>
</body>
</html>