<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CCT-MS系统登录</title>
    <link rel="stylesheet" href="css/iview.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div id="login">
        <div id="header"></div>
        <div id="content">
            <h1>CTT-MS 物资管理系统</h1>

                <i-form ref="formValidate" :model="formValidate" :label-width="80" method="post" action="http://10.2.130.178/CTT-MS-server/login" id="loginForm">
                    <form-item label="用户名" prop="name">
                        <i-input v-model="formValidate.name.value" placeholder="请输入用户名" name="username"></i-input>
                    </form-item>
                    <form-item label="密码" prop="password">
                        <i-input v-model="formValidate.password.value" placeholder="请输入密码" name="password" type="password"></i-input>
                    </form-item>
                    <form-item label="验证码" prop="code">
                        <i-input v-model="formValidate.code.value" placeholder="请输入验证码" name="code" style="width: 70%"></i-input>
                        <i-button type="info" shape="circle">获取验证码</i-button>
                    </form-item>
                    <form-item>
                        <i-button type="primary" @click="submit(check(formValidate))" long>登录</i-button>
                    </form-item>
                </i-form>

        </div>
        <div id="footer">
            <p>Copyright © 2017-2017 Powered By ctt-ms 物资管理</p>
        </div>
    </div>
    <script src="js/vue.js"></script>
    <script src="js/iview.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/url.js"></script>
    <script src="js/check-input.js"></script>
    <script src="js/common.js"></script>
    <script>
        var loginForm = new Vue({
            el:'#login',
            data:function() {
                return {
                    formValidate: {
                        name:{
                            value:'',
                            check:['empty'],
                            alertText: {
                                empty:'用户名不能为空'
                            }
                        },
                        password:{
                            value:'',
                            check:['empty'],
                            alertText:{
                                empty:'密码不能为空',
                                number:'密码必须为数字'
                            }
                        },
                        code:{
                            value:'',
                            check:[],
                            alertText:{
                                empty:'请填写验证码'
                            }
                        }
                    }
                }
            },
            methods:{
                check: checkInput,
                submit: function (tof) {
                    if(tof === true){

                        var loginData = {
                            username:loginForm.formValidate.name.value,
                            password:loginForm.formValidate.password.value

                        }
                        console.log(JSON.stringify(loginData));

                        jQuery.ajax({
                            url : server+url.login,
                            data: 'username='+loginData.username+'&password='+loginData.password,
                            type : 'POST',
                            crossDomain: true,
                            success:function (result) {
                                console.log(result);
                                if(result.state === 'success'){
                                    set_cookie('username',result.message);
                                    window.location.href = "main.html";
                                }else {
                                    alert(result.message);
                                }

                            },
                            error:function () {
                                loginForm.$Message.warning('连接服务器失败，请检查你的网络连接');
                            }
                        });
                    }
                }

            }

        });


    </script>
</body>
</html>