<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改装维人员</title>
    <link rel="stylesheet" href="css/iview.css">
    <link rel="stylesheet" href="css/loading.css">
    <script src="js/vue.js"></script>
    <script src="js/iview.js"></script>
    <style>
        form{
            margin-top: 30px;
        }
    </style>
</head>
<body>
<Spin fix id="loading" v-if="show">
    <Icon type="load-c" size=60 class="demo-spin-icon-load"></Icon>
    <br>
    <div class="loading-text">加载中...</div>
</Spin>
<script>
    var loading = new Vue({
        el:"#loading",
        data:{
            show:true
        },
        created:function () {
            setTimeout("loading.show=false",500);
        }
    });
</script>
<header>
    <h1>修改装维人员资料</h1>
</header>
<i-form :label-width="180" id="modify_staff_form" label-position="right">
    <form-item label="姓名">
        <i-input v-model="formItem.name.value" placeholder="请输入员工姓名"></i-input>
    </form-item>
    <form-item label="性别" prop="sex">
        <radio-group v-model="formItem.sex.value">
            <Radio label="男">男</Radio>
            <Radio label="女">女</Radio>
        </radio-group>
    </form-item>
    <form-item label="是否在岗" prop="on_guard">
        <radio-group v-model="formItem.on_guard.value">
            <Radio label="是">是</Radio>
            <Radio label="否">否</Radio>
        </radio-group>
    </form-item>
    <form-item label="身份证号">
        <i-input v-model="formItem.idcard.value" placeholder="请输入身份证号"></i-input>
    </form-item>
    <form-item label="所在片区">
        <Cascader :data="area_data" v-model="formItem.area.value" width="250px" change-on-select @on-change="get_team"></Cascader>
    </form-item>
    <form-item label="所在班组">
        <i-select v-model="formItem.team.value" style="width:200px" :disabled="team_disabled">
            <i-option v-for="item in team_data" :value="item.value" :key="item.value">{{ item.label }}</i-option>
        </i-select>
    </form-item>
    <form-item label="联系电话（选填）">
        <i-input v-model="formItem.phone.value" placeholder="请输入联系电话"></i-input>
    </form-item>
    <form-item label="QQ号码（选填）">
        <i-input v-model="formItem.qq.value" placeholder="请输入QQ号码"></i-input>
    </form-item>
    <form-item label="第二联系人（选填）">
        <i-input v-model="formItem.sec_linkman.value" placeholder="请输入第二联系人"></i-input>
    </form-item>
    <form-item label="第二联系人电话（选填）">
        <i-input v-model="formItem.sec_phone.value" placeholder="请输入第二联系人电话"></i-input>
    </form-item>
    <form-item label="家庭住址（选填）">
        <i-input v-model="formItem.address.value" placeholder="请输入家庭住址"></i-input>
    </form-item>
    <form-item label="学历（选填）">
        <i-input v-model="formItem.education.value" placeholder="请输入学历"></i-input>
    </form-item>
    <form-item label="毕业学校（选填）">
        <i-input v-model="formItem.school.value" placeholder="请输入毕业学校"></i-input>
    </form-item>
    <form-item label="入职时间">
        <date-picker type="date" placeholder="请输入入职时间" @on-change="format_date" v-model="formItem.employment_date.value" style="width: 200px"></date-picker>
    </form-item>
    <form-item label="备注（选填）">
        <i-input v-model="formItem.remark.value" placeholder="请输入备注"></i-input>
    </form-item>
    <form-item label="个人照片">
        <Upload action="" :format="['jpg','jpeg','png']" :before-upload="upload_per_pic">
            <i-button type="ghost" icon="ios-cloud-upload-outline">上传文件</i-button>
        </Upload>
        <div v-if="formItem.per_pic.value !== null">待上传文件：{{ formItem.per_pic.value.name }}</div>
    </form-item>
    <form-item label="身份证正面照片">
        <Upload action="" :format="['jpg','jpeg','png']" :before-upload="upload_idcard_front_pic">
            <i-button type="ghost" icon="ios-cloud-upload-outline">上传文件</i-button>
        </Upload>
        <div v-if="formItem.idcard_front_pic.value !== null">待上传文件：{{ formItem.idcard_front_pic.value.name }}</div>
    </form-item>
    <form-item label="身份证反面照片">
        <Upload action="" :format="['jpg','jpeg','png']" :before-upload="upload_idcard_back_pic">
            <i-button type="ghost" icon="ios-cloud-upload-outline">上传文件</i-button>
        </Upload>
        <div v-if="formItem.idcard_back_pic.value !== null">待上传文件：{{ formItem.idcard_back_pic.value.name }}</div>
    </form-item>

    <form-item>
        <i-button type="primary" @click="upload(check(formItem),formItem)">提交</i-button>
    </form-item>
</i-form>
<script src="js/jquery-3.2.1.min.js"></script>

<script src="js/common.js"></script>
<script src="js/check-input.js"></script>
<script src="js/url.js"></script>
<script>
    //初始化表单
    var modify_staff_form = new Vue({
        el:'#modify_staff_form',
        data:{
            team_data:[],
            area_data:[],
            team_disabled:false,
            formItem: {
                name:{
                    value:'',
                    check:['empty'],
                    alertText: {
                        empty:'用户名不能为空'
                    }
                },
                sex:{
                    value:'',
                    check:['empty'],
                    alertText: {
                        empty:'性别不能为空'
                    }
                },
                on_guard:{
                    value:'',
                    check:['empty'],
                    alertText: {
                        empty:'是否在岗不能为空'
                    }
                },
                idcard:{
                    value:'',
                    check:['empty'],
                    alertText: {
                        empty:'身份证号不能为空'
                    }
                },
                area:{
                    value:[],
                    check:['empty'],
                    alertText: {
                        empty:'所在片区不能为空'
                    }
                },
                team:{
                    value:'',
                    check:[]
                },
                phone:{
                    value:'',
                    check:[]
                },
                qq:{
                    value:'',
                    check:[]
                },
                sec_linkman:{
                    value:'',
                    check:[]
                },
                sec_phone:{
                    value:'',
                    check:[]
                },
                address:{
                    value:'',
                    check:[]
                },
                education:{
                    value:'',
                    check:[]
                },
                school:{
                    value:'',
                    check:[]
                },
                employment_date:{
                    value:'',
                    check:['empty'],
                    alertText: {
                        empty:'入职时间不能为空'
                    }
                },
                remark:{
                    value:'',
                    check:[]
                },
                per_pic:{
                    value:null,
                    check:['empty'],
                    alertText: {
                        empty:'个人照片不能为空'
                    }
                },
                idcard_front_pic:{
                    value:null,
                    check:['empty'],
                    alertText: {
                        empty:'身份证正面照片不能为空'
                    }
                },
                idcard_back_pic:{
                    value:null,
                    check:['empty'],
                    alertText: {
                        empty:'身份证背面照片不能为空'
                    }
                }
            }
        },
        methods:{
            upload_per_pic: function(file) {
                this.formItem.per_pic.value = file;
                console.log(file);
                return false;
            },
            upload_idcard_front_pic: function(file) {
                this.formItem.idcard_front_pic.value = file;
                console.log(file);
                return false;
            },
            upload_idcard_back_pic: function(file) {
                this.formItem.idcard_back_pic.value = file;
                console.log(file);
                return false;
            },
            check:checkInput,
            upload:function (tof,data) {
                if(tof === true){
                    var formData = new FormData();
                    console.log(data);
                    data = extract_value(data);
                    for(var key in data){
                        if(key!=='area'){
                            formData.append(key,data[key]);
                        }
                    }
                    formData.append('cookie',get_cookie().username);
                    formData.append('area',data.area.join('^'));
                    formData.append('id',modify_id);
                    formData.append('per_pic',modify_staff_form.formItem.per_pic.value);
                    formData.append('idcard_front_pic',modify_staff_form.formItem.idcard_front_pic.value);
                    formData.append('idcard_back_pic',modify_staff_form.formItem.idcard_back_pic.value);

                    $.ajax({
                        url:server+url.change_staff,
                        type : 'POST',
                        data : formData,
                        //dataType:'json',
                        processData: false,
                        contentType: false,
                        crossDomain: true,
                        success:function (result) {
                            if(result.state === 'error'){
                                modify_staff_form.$Message.error(result.message);
                                setTimeout("jump('login.html')",1500);
                            }else if(result.state === 'warning'){
                                modify_staff_form.$Message.error(result.message);
                            }else {
                                modify_staff_form.$Message.success(result.message+",即将跳转");
                                setTimeout("inner_jump('check_staff.html')",2000);
                            }
                        },
                        error:function () {
                            modify_staff_form.$Message.error('数据请求失败，请检查你的网络连接');
                        }
                    });
                }
            },
            format_date:function (date) {
                modify_staff_form.formItem.employment_date.value = date;
            },
            get_team:function (value) {
                var send_data = value.join('^');
                console.log(send_with_cookie_data('area',send_data));
                jQuery.ajax({
                    url : server+url.get_team,
                    data: "cookie="+get_cookie().username+"&"+"area="+send_data,
                    type : 'POST',
                    xhrFields: {
                        withCredentials: true
                    },
                    crossDomain: true,
                    success:function (result) {
                        if(result.state === 'error'){
                            modify_staff_form.$Message.error(result.message);
                            setTimeout("jump('login.html')",1500);
                        }else if(result.state === 'warning'){
                            modify_staff_form.$Message.error(result.message);
                        }
                        else{
                            console.log("成功请求到班组数据");
                            console.log(result);
                            modify_staff_form.team_disabled = false;
                            modify_staff_form.team_data = result;
                        }

                    },
                    error:function () {
                        table.$Message.warning('连接服务器失败，请检查你的网络连接');
                    }
                });
            }
        },
        created:get_area
    });


    // 将表单填入员工信息
    var modify_id = window.location.search.slice(1);
    console.log(modify_id);
    var search_data = {
        pageinfo:{
            curpage:1,
            pageinate:1
        },
        condition:{
            where:["id",modify_id]
        }
    };
    console.log(send_with_cookie_data('query',search_data));
    $.ajax({
        url:server+url.check_staff,
        type : 'POST',
        data : send_with_cookie_data('query',search_data),
        xhrFields: {
            withCredentials: true
        },
        crossDomain: true,
        success:function (result) {
            console.log(result);
            var old_form_data = result[1];
            for(var key in modify_staff_form.formItem){
                if(key!=='area'){
                    modify_staff_form.formItem[key].value = old_form_data[key];
                }else{
                    modify_staff_form.formItem.area.value = old_form_data.area.split('^');
                }

            }
        },
        error:function () {
            modify_staff_form.$Message.error('数据请求失败，请检查你的网络连接');
        }
    });
</script>
</body>
</html>