<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改管理员</title>
    <link rel="stylesheet" href="css/iview.css">
    <link rel="stylesheet" href="css/loading.css">
    <script src="js/vue.js"></script>
    <script src="js/iview.js"></script>
    <style>
        form{
            margin-top: 30px;
        }
        .ivu-form-item p{
            font-weight: bolder;
            font-size: 15px;
        }
    </style>
</head>
<body>
<Spin fix id="loading" v-if="show">
    <Icon type="load-c" size=60 class="demo-spin-icon-load"></Icon>
    <br>
    <div class="loading-text">加载中...</div>
</Spin>
<script>
    var loading = new Vue({
        el:"#loading",
        data:{
            show:true
        },
        created:function () {
            setTimeout("loading.show=false",500);
        }
    });
</script>
<i-form :label-width="180" id="modify_user_form" label-position="right">
    <form-item label="员工编号">
        <i-input v-model="formItem.username.value" placeholder="请输入员工编号"></i-input>
    </form-item>
    <form-item label="姓名">
        <i-input v-model="formItem.name.value" placeholder="请输入员工姓名"></i-input>
    </form-item>
    <form-item label="密码">
        <i-input v-model="formItem.password.value" placeholder="请输入密码" type="password"></i-input>
    </form-item>
    <form-item label="确认密码">
        <i-input v-model="formItem.confirm_password.value" placeholder="请确认密码" type="password"></i-input>
    </form-item>
    <form-item label="性别" prop="sex">
        <radio-group v-model="formItem.sex.value">
            <Radio label="男">男</Radio>
            <Radio label="女">女</Radio>
        </radio-group>
    </form-item>
    <form-item label="所在片区">
        <Cascader :data="area_data" v-model="formItem.area.value" width="250px" change-on-select @on-change="get_storehouse"></Cascader>
    </form-item>
    <form-item label="所在仓库">
        <i-select v-model="formItem.storehouse.value" style="width:200px" :disabled="storehouse_disabled">
            <i-option v-for="item in storehouse_data" :value="item.value" :key="item.value">{{ item.label }}</i-option>
        </i-select>
    </form-item>
    <form-item label="联系电话（选填）">
        <i-input v-model="formItem.phone.value" placeholder="请输入联系电话"></i-input>
    </form-item>
    <form-item label="QQ号码（选填）">
        <i-input v-model="formItem.qq.value" placeholder="请输入QQ号码"></i-input>
    </form-item>
    <form-item label="邮箱（选填）">
        <i-input v-model="formItem.email.value" placeholder="请输入邮箱"></i-input>
    </form-item>
    <form-item label="家庭住址（选填）">
        <i-input v-model="formItem.address.value" placeholder="请输入家庭住址"></i-input>
    </form-item>
    <form-item label="身份证号">
        <i-input v-model="formItem.idcard.value" placeholder="请输入身份证号"></i-input>
    </form-item>
    <form-item label="权限设置">
        <p>材料管理</p>
        <Checkbox v-model="formItem.auth.stuff_in">材料入库</Checkbox>
        <Checkbox v-model="formItem.auth.stuff_out">材料出库</Checkbox>
        <Checkbox v-model="formItem.auth.stuff_back">材料退库</Checkbox>
        <Checkbox v-model="formItem.auth.stuff_leave">材料调库</Checkbox>
        <Checkbox v-model="formItem.auth.stuff_use">材料消耗</Checkbox>
        <Checkbox v-model="formItem.auth.stuff_count">材料统计</Checkbox>
        <Checkbox v-model="formItem.auth.stuff_inventory">材料盘存</Checkbox>
        <p>工具管理</p>
        <Checkbox v-model="formItem.auth.tool_in">工具入库</Checkbox>
        <Checkbox v-model="formItem.auth.tool_out">工具出库</Checkbox>
        <Checkbox v-model="formItem.auth.tool_back">工具退库</Checkbox>
        <Checkbox v-model="formItem.auth.tool_leave">工具调库</Checkbox>
        <Checkbox v-model="formItem.auth.tool_count">工具统计</Checkbox>
        <Checkbox v-model="formItem.auth.tool_infoconsummate">工具信息完善</Checkbox>
        <p>安全品管理</p>
        <Checkbox v-model="formItem.auth.safty_in">安全品入库</Checkbox>
        <Checkbox v-model="formItem.auth.safty_out">安全品出库</Checkbox>
        <Checkbox v-model="formItem.auth.safty_back">安全品退库</Checkbox>
        <Checkbox v-model="formItem.auth.safty_count">安全品统计</Checkbox>
        <Checkbox v-model="formItem.auth.safty_infoconsummate">安全品信息完善</Checkbox>
        <p>人员管理</p>
        <Checkbox v-model="formItem.auth.staff_manage">装维人员管理</Checkbox>
        <Checkbox v-model="formItem.auth.user_manage">管理员管理</Checkbox>



    </form-item>
    <form-item>
        <i-button type="primary" @click="upload(check(formItem),formItem)">提交</i-button>
    </form-item>

</i-form>
<script src="js/jquery-3.2.1.min.js"></script>

<script src="js/common.js"></script>
<script src="js/check-input.js"></script>
<script src="js/url.js"></script>
<script>
    //待实现的功能：权限检查
    var modify_user_form = new Vue({
        el:'#modify_user_form',
        data:{
            area_data:[],
            storehouse_data:[],
            storehouse_disabled:true,
            formItem: {
                username:{
                    value:'',
                    check:['empty'],
                    alertText: {
                        empty:'员工编号不能为空'
                    }
                },
                name:{
                    value:'',
                    check:['empty'],
                    alertText: {
                        empty:'用户名不能为空'
                    }
                },
                password:{
                    value:'',
                    check:[],
                    alertText: {
                        empty:'密码不能为空'
                    }
                },
                confirm_password:{
                    value:'',
                    check:[],
                    alertText: {
                        empty:'确认密码不能为空'
                    }
                },
                area:{
                    value:[],
                    check:['empty'],
                    alertText: {
                        empty:'所在片区不能为空'
                    }
                },
                storehouse:{
                    value:'',
                    check:[]
                },
                sex:{
                    value:'',
                    check:['empty'],
                    alertText: {
                        empty:'性别不能为空'
                    }
                },
                phone:{
                    value:'',
                    check:[]
                },
                qq:{
                    value:'',
                    check:[]
                },
                email:{
                    value:'',
                    check:[]
                },
                address:{
                    value:'',
                    check:[]
                },
                idcard:{
                    value:'',
                    check:['empty'],
                    alertText: {
                        empty:'身份证号不能为空'
                    }
                },
                auth:{
                    stuff_in:false,
                    stuff_out:false,
                    stuff_back:false,
                    stuff_leave:false,
                    stuff_use:false,
                    stuff_count:false,
                    stuff_inventory:false,
                    tool_in:false,
                    tool_out:false,
                    tool_back:false,
                    tool_leave:false,
                    tool_count:false,
                    tool_infoconsummate:false,
                    safty_in:false,
                    safty_out:false,
                    safty_back:false,
                    safty_count:false,
                    safty_infoconsummate:false,
                    staff_manage:false,
                    user_manage:false
                }

            }
        },
        methods:{
            check:checkInput,
            upload:function (tof,data) {
                if(tof === true){
                    var send_data = [];
                    send_data[0] = extract_value(data);
                    send_data[0].id = modify_id;
                    send_data[0].area = send_data[0].area.join("^");

                    // 深拷贝auth
                    var send_auth = {};
                    for(var key in modify_user_form.formItem.auth){
                        send_auth[key] = modify_user_form.formItem.auth[key];
                    }

                    if(send_data[0].password !== send_data[0].confirm_password){
                        modify_user_form.$Message.error("两次输入密码不相符");
                    }

                    else {
                        if(send_data[0].password === ""){
                            delete send_data[0].password;
                            delete send_data[0].confirm_password;
                        }

                        trans_auth_to_submit(send_auth);
                        send_data[1] = send_auth;
                        console.log(send_with_cookie_data('json',send_data));
                        $.ajax({
                            url:server+url.change_user,
                            type : 'POST',
                            //data : JSON.stringify({cookie:get_cookie().username,json:send_data}),
                            data : send_with_cookie_data('json',send_data),
                            dataType:'json',
                            processData: false,
                            crossDomain: true,
                            success:function (result) {

                                if(result.state === 'error'||result.state === 'warning'){
                                    modify_user_form.$Message.error(result.message);
                                }else if(result.state === 'success'){
                                    modify_user_form.$Message.success(result.message);

                                }
                                console.log(result);

                            },
                            error:function () {
                                alert('数据请求失败，请检查你的网络连接');
                            }
                        });
                    }

                }
            },
            get_storehouse:function (value) {
                var send_data = value.join('^');
                console.log("cookie="+get_cookie().username+"&"+"area="+send_data);
                $.ajax({
                    url:server+url.get_store_house,
                    type : 'POST',
                    data : "cookie="+get_cookie().username+"&"+"area="+send_data,
                    processData: false,
                    crossDomain: true,
                    success:function (result) {
                        if(result.state === 'error'||result.state === 'warning'){
                            modify_user_form.$Message.error(result.message);
                        }else{
                            console.log("成功获取仓库数据");
                            modify_user_form.storehouse_data = result;
                            modify_user_form.storehouse_disabled = false;
                        }
                        console.log(result);

                    },
                    error:function () {
                        modify_user_form.$Message.error('数据请求失败，请检查你的网络连接');
                    }
                });
            }

        },
        created:get_area
    });

    var modify_id = window.location.search.slice(1);
    console.log(modify_id);
    var search_data = {
        pageinfo:{
            curpage:1,
            pageinate:1
        },
        condition:{
            where:["id",modify_id]
        }
    };
    console.log(send_with_cookie_data('query',search_data));

    $.ajax({
        url:server+url.check_user,
        type : 'POST',
        data : send_with_cookie_data('query',search_data),
        xhrFields: {
            withCredentials: true
        },
        crossDomain: true,
        success:function (result) {
            console.log(result);
            if(result.state === "warning" || result.state === "error"){
                console.log(result);
            }else{
                var old_form_data = result[1];
                modify_user_form.formItem.name.value = old_form_data.name;
                modify_user_form.formItem.username.value = old_form_data.username;
                modify_user_form.formItem.area.value = old_form_data.area.split('^');
                modify_user_form.formItem.sex.value = old_form_data.sex;
                modify_user_form.formItem.phone.value = old_form_data.phone;
                modify_user_form.formItem.qq.value = old_form_data.qq;
                modify_user_form.formItem.email.value = old_form_data.email;
                modify_user_form.formItem.address.value = old_form_data.address;
                modify_user_form.formItem.idcard.value = old_form_data.idcard;
                modify_user_form.formItem.auth = old_form_data.auth;
                trans_auth_to_display(modify_user_form.formItem.auth);
                console.log(modify_user_form.formItem.area.value);
            }


        },
        error:function () {
            modify_user_form.$Message.error('数据请求失败，请检查你的网络连接');
        }
    });
</script>
</body>
</html>