<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>材料申请发放</title>
    <link rel="stylesheet" href="css/iview.css">
    <link rel="stylesheet" href="css/check_stuff.css">
    <link rel="stylesheet" href="css/loading.css">
    <script src="js/vue.js"></script>
    <script src="js/iview.js"></script>
</head>
<body>
<Spin fix id="loading" v-if="show">
    <Icon type="load-c" size=60 class="demo-spin-icon-load"></Icon>
    <br>
    <div class="loading-text">加载中...</div>
</Spin>
<script>
    var loading = new Vue({
        el:"#loading",
        data:{
            show:true
        },
        created:function () {
            setTimeout("loading.show=false",500);
        }
    });
</script>
<header>
    <h1>材料申请发放</h1>
</header>
<div id="notice">
    <br>
    <Alert show-icon>
        你有{{count}}条申请尚未处理。
        <template slot="desc">要同意这些材料发放申请，请点击这条申请后的“确认申请”按钮。
            <br>
            修改申请只能修改批次和数量
        </template>
    </Alert>
</div>

<div id="search">
    <i-button type="success" style="margin-left: 30px" @click="confirm_all_application">同意所有申请</i-button>
    <div class="search-text">
        <span>按装维人员姓名查询：</span>
        <i-select v-model="search_text" style="width:200px" @on-change="get_search_result">
            <i-option v-for="item in stuff_data" :value="item.value" :key="item.value">{{ item.label }}</i-option>
        </i-select>
        <span>按材料名称查询：</span>
        <i-select v-model="search_stuff_name" style="width:150px" placeholder="请选择物资名称" @on-change="get_type_data_by_stuff_name">
            <i-option v-for="item in stuff_name_data" :value="item.value" :key="item.value">{{ item.label }}</i-option>
        </i-select>
        <i-select v-model="search_type" style="width:150px" placeholder="请选择物资型号" @on-change="get_app_by_type">
            <i-option v-for="item in type_data" :value="item.value" :key="item.value">{{ item.label }}</i-option>
        </i-select>
    </div>
</div>

<div id="table">
    <i-table border :columns="header" :data="showData" @on-sort-change="change_sort_data"></i-table>
</div>

<Modal
        v-model="show"
        id="reason"
        title="请输入你的驳回原因"
        @on-ok="submit"
        @on-cancel="cancel">

    <i-input v-model="refuse_reason" type="textarea" :rows="4" placeholder="输入驳回原因"></i-input>
</Modal>

<Modal
        id="modify_form"
        v-model="show"
        title="修改"
        width="700"
        @on-ok="submit(check(formItem))"
        @on-cancel="cancel"
        >
    <i-form :label-width="120" label-position="right">
        <form-item label="材料大类">
            <i-select v-model="category" style="width:200px" @on-change="get_stuff">
                <i-option v-for="item in category_data" :value="item.value" :key="item.value">{{ item.label }}</i-option>
            </i-select>
        </form-item>
        <form-item label="物资名称">
            <i-select v-model="inventory_search_id" style="width:200px" @on-change="get_inventory_record" :disabled="inventory_disabled">
                <i-option v-for="item in inventory_data" :value="item.value" :key="item.value">{{
                    item.label }}
                </i-option>
            </i-select>
            <Alert show-icon style="margin-top: 10px;width: 400px" v-show="table_show">请单击某一行来选择批次</Alert>
            <i-table border @on-current-change="set_inventory_id" :columns="inventory_header" :data="inventory_show_data" v-show="table_show" highlight-row style="margin-top: 10px;width: 500px"></i-table>
        </form-item>
        <form-item label="相同材料的剩余">
            <i-input v-model="formItem.odd_quantity.value" style="width:200px" placeholder="请输入相同材料的剩余数量" min="0"></i-input>
        </form-item>
        <form-item label="发放数量">
            <i-input v-model="formItem.out_quantity.value" style="width:200px" placeholder="请输入入库数量" min="0"></i-input>
        </form-item>

    </i-form>
</Modal>

<script src="js/jquery-3.2.1.min.js"></script>
<script>$.noConflict();</script>


<script src="js/common.js"></script>
<script src="js/check-input.js"></script>
<script src="js/url.js"></script>
<script>
    // 获取各种条件下的管理员数据（排序，查询，页数）
    function get_stuff_out_page_data() {

        // 发送数据
        jQuery.ajax({
            url: server + url.stuff_out_check,
            data: send_with_cookie_data(),
            type: 'POST',
            xhrFields: {
                withCredentials: true
            },
            dataType: "json",
            crossDomain: true,
            success: function (result) {
                if(result.state === 'error'){
                    table.$Message.error(result.message);
                    setTimeout("jump('login.html')",1500);
                }else if(result.state === 'warning'){
                    table.$Message.error(result.message);
                }
                else {

                    console.log(result);
                    table.showData = result;

                }

            },
            error: function () {
                table.$Message.warning('连接服务器失败，请检查你的网络连接');
            }
        });
    }
    function get_stuff_out_page_data_by_name() {
        var send_data;
        if(search.search_text === ""){
            send_data = send_with_cookie_data();
        }else {
            send_data = send_with_cookie_data()+"&staff="+search.search_text;
        }
        console.log(send_data);
        // 发送数据
        jQuery.ajax({
            url: server + url.stuff_out_check_by_name,
            data: send_data,
            type: 'POST',
            xhrFields: {
                withCredentials: true
            },
            dataType: "json",
            crossDomain: true,
            success: function (result) {
                if(result.state === 'error'){
                    table.$Message.error(result.message);
                    setTimeout("jump('login.html')",1500);
                }else if(result.state === 'warning'){
                    table.$Message.error(result.message);
                }
                else {

                    console.log(result);
                    table.showData = result;

                }

            },
            error: function () {
                table.$Message.warning('连接服务器失败，请检查你的网络连接');
            }
        });
    }
    var search = new Vue({
        el:"#search",
        data:{
            search_text:'',
            stuff_data:[],
            search_stuff_name:'',
            search_type:'',
            stuff_name_data:[],
            type_data:[]
        },
        methods:{
            get_search_result:function () {
                get_stuff_out_page_data_by_name();
            },
            confirm_all_application:function () {
                search.$Modal.confirm({
                    title:'确认你的行为',
                    content:'点击确认按钮后，你将同意目前列表中显示的所有申请，你确定要这样做吗？',
                    okText:'确认',
                    cancelText:'取消',
                    onOk:function () {
                        var idList = [];
                        for(var i = 0;i<table.showData.length;i++){
                            idList.push(table.showData[i].id);
                        }
                        console.log(send_with_cookie_data("idList",idList));
                        // 发送数据
                        jQuery.ajax({
                            url: server + url.stuff_out_agree_all,
                            data: send_with_cookie_data("idList",idList),
                            type: 'POST',
                            xhrFields: {
                                withCredentials: true
                            },
                            dataType: "json",
                            crossDomain: true,
                            success: function (result) {
                                if(result.state === 'error'){
                                    search.$Message.error(result.message);
                                    setTimeout("jump('login.html')",1500);
                                }else if(result.state === 'warning'){
                                    search.$Message.error(result.message);
                                }
                                else {
                                    search.$Message.success("操作成功，即将转跳");
                                    setTimeout("inner_jump('stuff_review.html')",1500);
                                }

                            },
                            error: function () {
                                search.$Message.warning('连接服务器失败，请检查你的网络连接');
                            }
                        });

                    },
                    onCancel:function () {
                        search.$Message.info('你取消了操作');
                    }
                })
            },
            get_type_data_by_stuff_name:function () {
                search.search_text = '';
                jQuery.ajax({
                    url: server + url.stuff_out_get_types,
                    data: send_with_cookie_data()+"&stuff_name="+search.search_stuff_name,
                    type: 'POST',
                    xhrFields: {
                        withCredentials: true
                    },
                    dataType: "json",
                    crossDomain: true,
                    success: function (result) {
                        if(result.state === 'error'){
                            table.$Message.error(result.message);
                            setTimeout("jump('login.html')",1500);
                        }else if(result.state === 'warning'){
                            table.$Message.error(result.message);
                        }
                        else {
                            console.log(result);
                            search.type_data = result;
                        }

                    },
                    error: function () {
                        table.$Message.warning('连接服务器失败，请检查你的网络连接');
                    }
                });
            },
            get_app_by_type:function () {
                jQuery.ajax({
                    url: server + url.stuff_out_by_type,
                    data: send_with_cookie_data()+"&stuff_name="+search.search_stuff_name+"&type="+search.search_type,
                    type: 'POST',
                    xhrFields: {
                        withCredentials: true
                    },
                    dataType: "json",
                    crossDomain: true,
                    success: function (result) {
                        if(result.state === 'error'){
                            table.$Message.error(result.message);
                            setTimeout("jump('login.html')",1500);
                        }else if(result.state === 'warning'){
                            table.$Message.error(result.message);
                        }
                        else {
                            console.log(result);
                            table.showData = result;
                        }

                    },
                    error: function () {
                        table.$Message.warning('连接服务器失败，请检查你的网络连接');
                    }
                });
            }
        },
        created:function () {
            jQuery.ajax({
                url: server + url.stuff_out_get_name,
                data: send_with_cookie_data(),
                type: 'POST',
                xhrFields: {
                    withCredentials: true
                },
                dataType: "json",
                crossDomain: true,
                success: function (result) {
                    if(result.state === 'error'){
                        table.$Message.error(result.message);
                        setTimeout("jump('login.html')",1500);
                    }else if(result.state === 'warning'){
                        table.$Message.error(result.message);
                    }
                    else {
                        console.log(result);
                        search.stuff_data = result;

                    }

                },
                error: function () {
                    table.$Message.warning('连接服务器失败，请检查你的网络连接');
                }
            });
            // 获取材料名称信息
            jQuery.ajax({
                url: server + url.stuff_out_get_stuffs,
                data: send_with_cookie_data(),
                type: 'POST',
                xhrFields: {
                    withCredentials: true
                },
                dataType: "json",
                crossDomain: true,
                success: function (result) {
                    if(result.state === 'error'){
                        table.$Message.error(result.message);
                        setTimeout("jump('login.html')",1500);
                    }else if(result.state === 'warning'){
                        table.$Message.error(result.message);
                    }
                    else {
                        console.log(result);
                        search.stuff_name_data = result;
                    }

                },
                error: function () {
                    table.$Message.warning('连接服务器失败，请检查你的网络连接');
                }
            });
        }
    });
    var reason = new Vue({
        el:'#reason',
        data:{
            show:false,
            refuse_reason:'',
            refuse_id:null
        },
        methods:{
            submit:function () {
                console.log(send_with_cookie_data("id",reason.refuse_id)+"&reason="+reason.refuse_reason);
                jQuery.ajax({
                    url: server + url.stuff_out_refuse,
                    data: send_with_cookie_data("id",reason.refuse_id)+"&reason="+reason.refuse_reason,
                    type: 'POST',
                    xhrFields: {
                        withCredentials: true
                    },
                    dataType: "json",
                    crossDomain: true,
                    success: function (result) {
                        if(result.state === 'error'){
                            table.$Message.error(result.message);
                            setTimeout("jump('login.html')",1500);
                        }else if(result.state === 'warning'){
                            table.$Message.error(result.message);
                        }
                        else {
                            console.log(result);
                            table.$Message.success(result.message+",即将刷新");
                            setTimeout("inner_jump('stuff_review.html')",1500);
                        }

                    },
                    error: function () {
                        table.$Message.warning('连接服务器失败，请检查你的网络连接');
                    }
                });
            },
            cancel:function () {
                reason.show = false;
            }
        }
    });
    var notice = new Vue({
        el:'#notice',
        data:{
            count:0
        },
        created:function () {
            jQuery.ajax({
                url: server + url.stuff_out_count,
                data: send_with_cookie_data(),
                type: 'POST',
                xhrFields: {
                    withCredentials: true
                },
                dataType: "json",
                crossDomain: true,
                success: function (result) {
                    if(result.state === 'error'){
                        table.$Message.error(result.message);
                        setTimeout("jump('login.html')",1500);
                    }else if(result.state === 'warning'){
                        table.$Message.error(result.message);
                    }
                    else {
                        console.log(result);
                        notice.count = result;

                    }

                },
                error: function () {
                    table.$Message.warning('连接服务器失败，请检查你的网络连接');
                }
            });
        }

    });
    var table = new Vue({
        el: "#table",
        data: {
            order: "",
            header: [
                {
                    title: '申请发放仓库',
                    key: 'storehouse'
                },

                {
                    title: '申请日期',
                    key: 'apply_date'
                },
                {
                    title: '材料大类',
                    key: 'category_name'
                },
                {
                    title: '材料名称',
                    key: 'stuff_name'
                },
                {
                    title: '生产商',
                    key: 'manufacturer'
                },
                {
                    title: '申请人员',
                    key: 'staff'
                },
                {
                    title: '装维结余',
                    key: 'odd_quantity'
                },
                {
                    title: '库存数量',
                    key: 'quantity'
                },
                {
                    title: '申请数量',
                    key: 'out_quantity'
                },
                {
                    title: '型号',
                    key: 'type'
                },
                {
                    title: '单位',
                    key: 'unit'
                },
                {
                    title: '操作',
                    key: 'action',
                    width: 240,
                    align: 'center',
                    render: function (h, params) {
                        return h('div', [
                            h('Button', {
                                props: {
                                    type: 'success',
                                    size: 'small'
                                },
                                style: {
                                    marginRight: '10px'
                                },
                                on: {
                                    click: function (){
                                        var confirm_id = table.showData[params.index].id;
                                        console.log(send_with_cookie_data("id",confirm_id));
                                        jQuery.ajax({
                                            url: server + url.stuff_out_agree,
                                            data: send_with_cookie_data("id",confirm_id),
                                            type: 'POST',
                                            xhrFields: {
                                                withCredentials: true
                                            },
                                            dataType: "json",
                                            crossDomain: true,
                                            success: function (result) {
                                                console.log(result);
                                                if(result.state === 'error'){
                                                    table.$Message.error(result.message);
                                                    setTimeout("jump('login.html')",1500);
                                                }else if(result.state === 'warning'){
                                                    table.$Message.error(result.message);
                                                }
                                                else {
                                                    console.log(result);
                                                    table.$Message.success(result.message+",即将刷新");
                                                    setTimeout("inner_jump('stuff_out.html')",1500);
                                                }

                                            },
                                            error: function () {
                                                table.$Message.warning('连接服务器失败，请检查你的网络连接');
                                            }
                                        });

                                    }
                                }
                            }, '确认发放'),
                            h('Button', {
                                props: {
                                    type: 'warning',
                                    size: 'small'
                                },
                                style: {
                                    marginRight: '10px'
                                },
                                on: {
                                    click: function (){
                                        var confirm_id = table.showData[params.index].id;
                                        console.log(table.showData[params.index]);
                                        modify_form.show = true;
                                        modify_form.formItem.inventory_id.value = table.showData[params.index].inventory_id;
                                        modify_form.formItem.id.value = table.showData[params.index].id;
                                        modify_form.formItem.out_quantity.value = table.showData[params.index].out_quantity;
                                        modify_form.formItem.odd_quantity.value = table.showData[params.index].odd_quantity;



                                    }
                                }
                            }, '修改申请'),
                            h('Button', {
                                props: {
                                    type: 'error',
                                    size: 'small'
                                },
                                style: {
                                    marginRight: '10px'
                                },
                                on: {
                                    click: function (){
                                        var refuse_id = table.showData[params.index].id;
                                        reason.refuse_id = refuse_id;
                                        reason.show = true;

                                    }
                                }
                            }, '拒绝')])
                    }
                }
            ],
            showData: [

            ]
        },
        methods: {
            change_sort_data: function (column) {
                if(column.key === 'category_name' || column.key === 'stuff_name'||column.key === 'unit'){
                    table.order = 'b.'+ column.key + " " + column.order;
                }else {
                    table.order = 'a.'+ column.key + " " + column.order;
                }
                console.log(table.order);
                get_stuff_out_page_data();
            }
        }

    });
    var modify_form = new Vue({
        el:"#modify_form",
        data:{
            show:false,
            category:'',
            category_data:[],
            inventory_disabled:true,
            inventory_data:[],
            inventory_search_id:null,
            inventory_show_data:[],
            table_show:false,
            inventory_header:[
                {
                    title: '生产商',
                    key: 'manufacturer'
                },
                {
                    title: '型号',
                    key: 'type'
                },
                {
                    title: '数量',
                    key: 'quantity'
                }
            ],
            formItem:{
                id:{
                    value:'',
                    check:['empty'],
                    alertText: {
                        empty:'id不能为空'
                    }
                },
                inventory_id:{
                    value:'',
                    check:['empty'],
                    alertText: {
                        empty:'请选择批次'
                    }
                },
                out_quantity:{
                    value:null,
                    check:['empty','number'],
                    alertText: {
                        empty:'请填写发放数量',
                        number:'请填写正确的发放数量'
                    }
                },
                odd_quantity:{
                    value:null,
                    check:['empty','number'],
                    alertText: {
                        empty:'请填写剩余材料的数量',
                        number:'请填写正确的剩余材料数量'
                    }
                }

            }

        },
        methods:{
            check:checkInput,
            get_stuff: function (value) {
                var category = modify_form.category;
                console.log("cookie=" + get_cookie().username + "&" + "stuff=" + category);
                jQuery.ajax({
                    url: server + url.get_stuff_with_id,
                    type: 'POST',dataType:'json',
                    data: "cookie=" + get_cookie().username + "&" + "category_name=" + category,
                    processData: false,
                    crossDomain: true,
                    success: function (result) {
                        if(result.state === 'error'){
                            modify_form.$Message.error(result.message);
                            setTimeout("jump('login.html')",1500);
                        }else if(result.state === 'warning'){
                            modify_form.$Message.error(result.message);
                        } else {
                            console.log("成功获取物资数据");
                            modify_form.inventory_data = result;
                            if (result !== []) {
                                modify_form.inventory_disabled = false;

                            }
                        }
                        console.log(result);

                    },
                    error: function () {
                        modify_form.$Message.error('数据请求失败，请检查你的网络连接');
                    }
                });

            },
            get_inventory_record:function (value) {
                console.log("cookie=" + get_cookie().username + "&" + "stuff_id=" + value);
                jQuery.ajax({
                    url: server + url.get_inventory_by_stuff,
                    type: 'POST',dataType:'json',
                    data: "cookie=" + get_cookie().username + "&" + "stuff_id=" + value,
                    processData: false,
                    crossDomain: true,
                    success: function (result) {
                        if(result.state === 'error'){
                            modify_form.$Message.error(result.message);
                            setTimeout("jump('login.html')",1500);
                        }else if(result.state === 'warning'){
                            modify_form.$Message.error(result.message);
                        } else {
                            console.log("成功获取库存记录数据");
                            console.log(result);
                            modify_form.inventory_show_data = result;
                            modify_form.table_show = true;

                        }

                    },
                    error: function () {
                        modify_form.$Message.error('数据请求失败，请检查你的网络连接');
                    }
                });
            },
            set_inventory_id:function (currentRow) {
                console.log(currentRow);
                modify_form.formItem.inventory_id.value = currentRow.id;
            },
            cancel:function () {
              modify_form.show = false;
            },
            submit:function (tof) {
                if(tof === true){
                    var modify_data = extract_value(modify_form.formItem);
                    console.log(send_with_cookie_data('json',modify_data));

                    jQuery.ajax({
                        url : server+url.stuff_out_change,
                        data: send_with_cookie_data('json',modify_data),
                        type : 'POST',
                        typeData:'json',
                        xhrFields: {
                            withCredentials: true
                        },
                        crossDomain: true,
                        success:function (result) {
                            if(result.state === 'error'){
                                modify_form.$Message.error(result.message);
                                setTimeout("jump('login.html')",1500);
                            }else if(result.state === 'warning'){
                                modify_form.$Message.error(result.message);
                            }
                            else{
                                // 提交成功后要清除表單數據
                                modify_form.formItem.id.value = null;
                                modify_form.formItem.inventory_id.value = null;
                                modify_form.formItem.out_quantity.value = null;
                                modify_form.formItem.odd_quantity.value = null;

                                modify_form.$Message.success(result.message+",即将刷新");
                                setTimeout("window.location.reload()",1500);
                                console.log(result);
                            }

                        },
                        error:function () {
                            modify_form.$Message.warning('连接服务器失败，请检查你的网络连接');
                        }
                    });
                }

            }

        },
        created:function () {
            var that = this;
            jQuery.ajax({
                url : server+url.get_category,
                data: send_with_cookie_data(),
                type : 'POST',
                typeData:'json',
                xhrFields: {
                    withCredentials: true
                },
                crossDomain: true,
                success:function (result) {
                    if(result.state === 'error'){
                        that.$Message.error(result.message);
                        setTimeout("jump('login.html')",1500);
                    }else if(result.state === 'warning'){
                        that.$Message.error(result.message);
                    }
                    else{
                        console.log(result);
                        console.log("成功请求到材料大类数据");
                        that.category_data = result;
                    }

                },
                error:function () {
                    that.$Message.warning('连接服务器失败，请检查你的网络连接');
                }
            });
        }
    });


    get_stuff_out_page_data();


</script>
</body>
</html>