<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>仓库管理</title>
    <link rel="stylesheet" href="css/iview.css">
    <link rel="stylesheet" href="css/check_stuff.css">
    <link rel="stylesheet" href="css/loading.css">
    <script src="js/vue.js"></script>
    <script src="js/iview.js"></script>

    <style>
        #add_button{
            margin-left: 50px;
        }
        #table{
            margin-top: 20px;
        }
    </style>
</head>
<body>
<Spin fix id="loading" v-if="show">
    <Icon type="load-c" size=60 class="demo-spin-icon-load"></Icon>
    <br>
    <div class="loading-text">加载中...</div>
</Spin>
<script>
    var loading = new Vue({
        el:"#loading",
        data:{
            show:true
        },
        created:function () {
            setTimeout("loading.show=false",500);
        }
    });
</script>
<header>
    <h1>仓库管理</h1>
</header>
<div id="search">
    <div class="search-text">
        <i-button type="primary" class="search-button" @click="get_search_result">查询</i-button>
        <span>模糊查询：</span>
        <i-input v-model="search_text" placeholder="请输入要查询的字符" style="width: 200px"></i-input>
    </div>
</div>
<br>
<div id="add_button">
    <i-button type="primary" @click="show_form">添加仓库</i-button>
</div>
<div id="table">
    <i-table border :columns="header" :data="showData" @on-sort-change="change_sort_data"></i-table>
</div>
<br>
<Page :total="total" id="page" show-total show-elevator @on-change="get_data"></Page>
<Modal  id="addStore"
        v-model="show"
        title="添加仓库"
        ok-text="提交"
        cancel-text="取消"
        @on-ok="submit(check(data))">
    <i-form :label-width="100">
        <form-item label="仓库名">
            <i-input v-model="data.name.value" placeholder="请输入仓库名"></i-input>
        </form-item>
        <form-item label="仓库负责人">
            <i-input v-model="data.supervisor.value" placeholder="请输入仓库负责人"></i-input>
        </form-item>
        <form-item label="仓库地址">
            <i-input v-model="data.store_address.value" placeholder="请输入仓库地址"></i-input>
        </form-item>
        <form-item label="所在片区">
            <Cascader :data="area_data" v-model="data.area.value" width="250px" change-on-select></Cascader>
        </form-item>
    </i-form>
</Modal>
<Modal  id="modifyStore"
        v-model="show"
        title="修改地区"
        ok-text="提交"
        cancel-text="取消"
        @on-ok="submit(check(data))">
    <i-form :label-width="100">
        <form-item label="仓库名">
            <i-input v-model="data.name.value" placeholder="请输入仓库名"></i-input>
        </form-item>
        <form-item label="仓库负责人">
            <i-input v-model="data.supervisor.value" placeholder="请输入仓库负责人"></i-input>
        </form-item>
        <form-item label="仓库地址">
            <i-input v-model="data.store_address.value" placeholder="请输入仓库地址"></i-input>
        </form-item>
        <form-item label="所在片区">
            <Cascader :data="area_data" v-model="data.area.value" width="250px" change-on-select></Cascader>
        </form-item>

    </i-form>
</Modal>


<script src="js/jquery-3.2.1.min.js"></script>
<script>$.noConflict();</script>


<script src="js/common.js"></script>
<script src="js/check-input.js"></script>
<script src="js/url.js"></script>
<script>
    // 获取各种条件下的员工数据（排序，查询，页数）
    function get_warehouse_page_data(page_count){
        // 设置数据
        var page_data={
            pageinfo:{
                curpage: 1,
                pageinate: 10
            },
            condition:{
                where:[]
            }
        };
        if(page_count){
            page_data.pageinfo.curpage = page_count;
        }


        // 首先判断有无查询条件
        if(search.search_text !==''){
            page_data.condition = {
                like:["name|supervisor|store_address|area","%"+ search.search_text + "%"]
            }

        }

        // 判断有无排序
        if(table.order !== ''){
            page_data.order = table.order;
        }

        console.log(JSON.stringify(page_data));

        // 发送数据
        jQuery.ajax({
            url : server+url.check_storehouse,
            data: send_with_cookie_data('query',page_data),
            type : 'POST',
            xhrFields: {
                withCredentials: true
            },
            crossDomain: true,
            success:function (result) {
                if(result.state === 'error'){
                    table.$Message.error(result.message);
                    setTimeout("jump('login.html')",1500);
                }else if(result.state === 'warning'){
                    table.$Message.error(result.message);
                }
                else{
                    console.log(result);
                    page.total = result[0].datacount;
                    result.splice(0,1);
                    table.showData = result;
                    for(var i=0;i<result.length;i++){
                        result[i].area = result[i].area.split('^').join(' ');
                    }
                }

            },
            error:function () {
                table.$Message.warning('连接服务器失败，请检查你的网络连接');
            }
        });
    }

    var addStore = new Vue({
        el:'#addStore',
        data:{
            area_data:[],
            show:false,
            data:{
                name:{
                    value:'',
                    check:['empty'],
                    alertText: {
                        empty:'仓库名不能为空'
                    }
                },
                supervisor:{
                    value:'',
                    check:['empty'],
                    alertText: {
                        empty:'仓库负责人不能为空'
                    }
                },
                store_address:{
                    value:'',
                    check:['empty'],
                    alertText: {
                        empty:'仓库地址不能为空'
                    }
                },
                area:{
                    value:[],
                    check:['empty'],
                    alertText: {
                        empty:'所属市，区不能为空'
                    }
                }
            }
        },
        methods:{
            check:checkInput,
            submit:function (tof) {
                if(tof === true){
                    var send_data = extract_value(addStore.data);
                    if(send_data.area.length < 2){
                        addStore.$Message.error("地区应该至少包含省和市的信息");
                    }else{
                        send_data.area = send_data.area.join("^");
                        console.log(send_with_cookie_data('json',send_data));
                        jQuery.ajax({
                            url:server+url.add_storehouse,
                            type : 'POST',
                            data : send_with_cookie_data('json',send_data),
                            processData: false,
                            crossDomain: true,
                            success:function (result) {
                                if(result.state === 'error'){
                                    addStore.$Message.error(result.message);
                                    setTimeout("jump('login.html')",1500);
                                }else if(result.state === 'warning'){
                                    addStore.$Message.error(result.message);
                                }else if(result.state === 'success'){
                                    addStore.$Message.success(result.message+",即将刷新");
                                    setTimeout("location.reload();",2000);
                                }
                                console.log(result);

                            },
                            error:function () {
                                alert('数据请求失败，请检查你的网络连接');
                            }
                        });
                    }

                }
            }
        },
        created:get_area

    });
    var modifyStore = new Vue({
        el:'#modifyStore',
        data:{
            show:false,
            loading:true,
            area_data:[],
            data:{
                id:{
                    value:'',
                    check:[]
                },
                name:{
                    value:'',
                    check:['empty'],
                    alertText: {
                        empty:'仓库名不能为空'
                    }
                },
                supervisor:{
                    value:'',
                    check:['empty'],
                    alertText: {
                        empty:'仓库负责人不能为空'
                    }
                },
                store_address:{
                    value:'',
                    check:['empty'],
                    alertText: {
                        empty:'仓库地址不能为空'
                    }
                },
                area:{
                    value:[],
                    check:['empty'],
                    alertText: {
                        empty:'所属市，区不能为空'
                    }
                }
            }
        },
        methods:{
            check:checkInput,
            submit:function (tof) {
                if(tof === true){
                    var send_data = extract_value(modifyStore.data);
                    if(send_data.area.length < 2){
                        addStore.$Message.error("地区应该至少包含省和市的信息");
                    }else{
                        send_data.area = send_data.area.join("^");
                        console.log(send_with_cookie_data('json',send_data));
                        jQuery.ajax({
                            url:server+url.change_storehouse,
                            type : 'POST',
                            data : send_with_cookie_data('json',send_data),
                            processData: false,
                            crossDomain: true,
                            success:function (result) {
                                if(result.state === 'error'){
                                    modifyStore.$Message.error(result.message);
                                    setTimeout("jump('login.html')",1500);
                                }else if(result.state === 'warning'){
                                    modifyStore.$Message.error(result.message);
                                }else if(result.state === 'success'){
                                    modifyStore.$Message.success(result.message+",即将刷新");
                                    setTimeout("location.reload();",2000);
                                }
                                console.log(result);

                            },
                            error:function () {
                                alert('数据请求失败，请检查你的网络连接');
                            }
                        });
                    }

                }
            }
        },
        created:get_area


    });
    var addButton = new Vue({
        el:"#add_button",
        methods:{
            show_form:function () {
                addStore.show = true;
            }
        }
    });
    var search = new Vue({
        el: '#search',
        data: {
            search_text: ''
        },
        methods:{
            // 获取查询的结果
            get_search_result:function () {
                get_warehouse_page_data();
            }

        }
    });
    var table = new Vue({
        el: "#table",
        data:{
            order:"",
            header: [
                {
                    title: '仓库名',
                    key: 'name',
                    sortable: 'custom'

                },
                {
                    title: '仓库负责人',
                    key: 'supervisor',
                    sortable: 'custom'

                },
                {
                    title: '仓库地址',
                    key: 'store_address',
                    sortable: 'custom'
                },
                {
                    title: '所属区县',
                    key: 'area',
                    sortable: 'custom'
                },
                {
                    title: '操作',
                    key: 'action',
                    width: 180,
                    align: 'center',
                    render: function (h, params) {
                        return h('div', [
                            h('Button',{
                                props:{
                                    type:'warning',
                                    size:'small'
                                },
                                style: {
                                    marginRight: '5px'
                                },
                                on:{
                                    click:function(){
                                        modifyStore.show = true;
                                        for(var key in modifyStore.data){
                                            if(key !== 'area'){
                                                modifyStore.data[key].value = table.showData[params.index][key];
                                            }
                                        }
                                        modifyStore.data.area.value = table.showData[params.index].area.split(" ");
                                    }
                                }
                            },'修改'),
                            h('Button', {
                                props: {
                                    type: 'error',
                                    size: 'small'
                                },
                                on: {
                                    click: function(){
                                        table.$Modal.confirm({
                                            title:'删除确认',
                                            content:'确认删除这条信息吗？',
                                            okText:'确认',
                                            cancelText:'取消删除',
                                            onOk:function () {
                                                jQuery.ajax({
                                                    url : server+url.delete_storehouse,
                                                    data: send_with_cookie_data('id',table.showData[params.index].id),
                                                    type : 'POST',
                                                    dataType:'json',
                                                    success:function (result) {
                                                        console.log(result);
                                                        if(result.state === "error"){
                                                            table.$Message.warning(result.message);
                                                            setTimeout("jump('login.html')",1500);
                                                        }
                                                        else if(result.state === "warning"){
                                                            table.$Message.warning(result.message);
                                                        }
                                                        else if(result.state === 'success'){
                                                            table.$Message.success('删除成功');
                                                            table.showData.splice(params.index,1);
                                                        }
                                                    },
                                                      error:function () {
                                                        table.$Message.warning('连接服务器失败，请检查你的网络连接');
                                                    }
                                                });
                                            },
                                            onCancel:function () {
                                                table.$Message.info("取消删除");
                                            }
                                        })


                                    }
                                }
                            }, '删除')
                        ]);
                    }
                }

            ],
            showData: [
                {
                    name:'事实上',
                    supervisor:'成都',
                    store_address:'金牛区',
                    area:'dsads'
                }
            ]
        },
        methods: {
            change_sort_data: function (column) {
                table.order = column.key + " " + column.order;
                get_warehouse_page_data();
            }
        }

    });
    var page = new Vue({
        el: '#page',
        data:{
            total:30
        },
        methods:{
            get_data: function (page) {
                get_warehouse_page_data(page);
            }



        }

    });

    get_warehouse_page_data();


</script>
</body>
</html>